/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1C1C1C;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .portfolio-navbar .navbar-links {
    flex-direction: column;
    text-align: center;
  }
}


